<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daftar Ikan</title>
</head>
<body>
<h2>
    Daftar Ikan Dimakan
</h2>
<ul class="daftar_ikans_ul">

    <!--tambahkan fitur on click di list-->
    <li *ngFor="let ikan of daftar_ikans"
        [class.selected]="ikan === ikanDipilih"
        (click)="onSelect(ikan)">
        <!--daftar nama ikan akan ada disini-->
        <span class="id_ikan_badge">{{ikan.id_ikan}}</span> <span
            class="ikan_text"> dengan nama {{ikan.nama_ikan}}</span>
    </li>
</ul>

<div *ngIf="ikanDipilih">

    <h2>Detail {{ikanDipilih.nama_ikan}}</h2>

    <div>
        <label class="label_id_ikan_class">ID Ikan : </label>
        <input class="input_id_ikan_class" [(ngModel)]="ikanDipilih.id_ikan" placeholder="ID nomor ikan">
    </div>

    <div>
        <label class="label_nama_ikan_class">Nama Ikan : </label>
        <input class="input_nama_ikan_class" [(ngModel)]="ikanDipilih.nama_ikan" placeholder="nama lengkap ikan">
    </div>
</div>

<div *ngIf="!ikanDipilih">
    <h2>Data belum dipilih</h2>
</div>

</body>
</html>













